fieldset {
	width: 400px;
	margin: 40px auto;
	border: 2px solid #000;
}

label {
	display: block;
	margin-bottom: 10px;
}

[type=text],
[type=password] {
	width: 99%;
	height: 20px;
	border: 2px solid #000;
	outline: none;
}