fieldset,
legend,
.field,
.button {
	border-color: #781351;
}

fieldset {
	background: #FF9 url(images/bg-box-s1.gif) repeat-x bottom;
}

legend,
.button {
	font-weight: bold;
	background-color: #ffa20c;
	color: #FFF;
	text-transform: uppercase;
}

legend {
	padding: 2px;
	border: 2px solid #781351;
}

.field {
	background-color: #FEE3AD;
}

.field:hover {
	background-color: #FFF;
}

.field:focus {
	border-color: darkorange;
	background-color: #FFF;
}

.button {
	display: block;
	float: right;
	background-color: #FFA20F;
}